$highlight-background: #282a36;
$highlight-foreground: #f8f8f2;
$highlight-comment:    #6272a4;
$highlight-red:        #ff5555;
$highlight-orange:     #ffb86c;
$highlight-yellow:     #f1fa8c;
$highlight-green:      #50fa7b;
$highlight-aqua:       #66d9ef;
$highlight-blue:       #8be9fd;
$highlight-purple:     #bd93f9;

@import "./tomorrow/highlight";
